API_GATEWAY_PORT=5009
AUTH_PORT=5010
TASK_PORT=5011
MEDIA_PORT=5012
WORKFLOW_PORT=5013

AUTH_SERVICE_URL=http://localhost:5010
TASK_SERVICE_URL=http://localhost:5011
MEDIA_SERVICE_URL=http://localhost:5012
WORKFLOW_SERVICE_URL=http://localhost:5013

LOG_LEVEL=info

DATABASE_URL=postgresql://neondb_owner: # Need to fill in the database URL with the correct credentials and host information.

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
GATEWAY_SECRET=your_gateway_secret_here

# S3 storage credentials
# S3-compatible storage. Generate a credential to fill in the key ID + secret.

AWS_ENDPOINT_URL_S3=your_s3_endpoint_url_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=your_aws_region_here
STORAGE_BUCKET=your_storage_bucket_name_here

KAFKA_BROKER=localhost:9092